NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=
NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_BASE_URL=https://localhost:3000/

# Public frontend exposure (dollars in cents integer string) to allow UI to honor/lock the amount
NEXT_PUBLIC_SPONSORSHIP_GOAL=